<!-- <div id="page-container"></div> -->

    <!--==================================*
               Main Content Section
    *====================================-->

        <!--==================================*
                   Main Section
        *====================================-->
        <div class="main-content-inner">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card_title">Pricing</h4>
                                <div id="mt_pricing">
                                    <div class="container">
                                        <div class="row d-flex"     >
                                                <ng-container *ngFor="let plan of plans">
                                                    <div class="col-lg-4 mb10">
                
                                                        <div class="main_pricing_conatiner wow fadeInLeftBig" data-wow-delay="0.3">
                                                            <div class="price">
                                                                  <h2 >
                                                                    <span class="price_icon">
                                                                        <i class="icon-wallet"></i>
                                                                       </span >
                                                                    {{plan.subscription_name}}
                                                                </h2>
                                                                <span class="price_tag">
                                                                    <span class="currency">$</span>{{plan.charge}}
                                                                    </span >
                                                                <span class="per_month">/{{plan.validity}}</span>
                                                            </div>
                                                            <div class="price_listing">
                                                               <p>{{plan.description}}</p>
                                                            </div>
                                                            <div class="choose_plan_btn">
                                                                <a  class="btn btn-primary" (click)="onChoosePlan()">CHOOSE PLAN</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <!-- <div class="col-lg-4">
                                                <div class="main_pricing_conatiner wow fadeInRightBig" data-wow-delay="0.9s">
                                                    <div class="price">
                                                        <h2>
                                                            <span class="price_icon">
                                                                <i class="icon-genius"></i>
                                                            </span>{{plan.subscription_name}}
                                                        </h2>
                                                        <span class="price_tag">
                                                            <span class="currency">$</span>{{plan.charge}}
                                                        </span>
                                                        <span class="per_month">/{{plan.validity}}</span>
                                                    </div>
                                                    <div class="price_listing">
                                                        <ul>
                                                            <li>Latin words, consectetur.</li>
                                                            <li>All the Lorem Ipsum.</li>
                                                            <li>It has survived not only</li>
                                                            <li>Labore et dolore magna ali.</li>
                                                            <li>Nor again is there anyone.</li>
                                                        </ul>
                                                    </div>
                                                    <div class="choose_plan_btn">
                                                        <a href="#" class="btn btn-primary">CHOOSE PLAN</a>
                                                    </div>
                                                </div>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==================================*
                   End Main Section
        *====================================-->
    
<!--=========================*
        End Page Container
*===========================-->

