<div class="main-content-inner">
    <div class="row mb-4">
        <div class="col-md-12 grid-margin">
            <div class="jumbotron">
                <h3 class="text-center text-white">Welcome   {{school}} !!</h3>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 mt-4 stretched_card">
            <div class="card">
                <div class="card-body">
                    
                    <div class="table-responsive mt-10">
                        <table mat-table matSort [dataSource]="dataSource">
                            <ng-container matColumnDef="name">
                              <th class="header" mat-header-cell *matHeaderCellDef>
                                Candidate Name
                                <mat-form-field class="filter" floatLabel="never">
                                  <mat-label>Search</mat-label>
                                  <input matInput [formControl]="nameFilter">
                                </mat-form-field>
                              </th>
                              <td mat-cell class="hover_name pointer_class" *matCellDef="let person" (click)="onSave(person.job_id,person.user_id)">{{person.candidate_name}}</td>
                            </ng-container>
                            <ng-container matColumnDef="id">
                              <th class="header" mat-header-cell *matHeaderCellDef>
                                Candidate Email
                                <mat-form-field class="filter" floatLabel="never">
                                  <mat-label>Search</mat-label>
                                  <input matInput [formControl]="idFilter">
                                </mat-form-field>
                              </th>
                              <td mat-cell *matCellDef="let person">{{person.candidate_email}}</td>
                            </ng-container>
                            <ng-container matColumnDef="favouriteColour">
                              <th class="header" mat-header-cell *matHeaderCellDef>
                                Candidate Location
                                <mat-form-field class="filter" floatLabel="never">
                                  <mat-label>Search</mat-label>
                                  <input matInput [formControl]="colourFilter">
                                </mat-form-field>
                              </th>
                              <td mat-cell *matCellDef="let person">{{person.candidate_address}}</td>
                            </ng-container>
                            <ng-container matColumnDef="pet">
                              <th class="header" mat-header-cell *matHeaderCellDef>
                                Specialities
                                <mat-form-field class="filter" floatLabel="never">
                                  <mat-label>Search</mat-label>
                                  <input matInput [formControl]="petFilter">
                                </mat-form-field>
                              </th>
                              <td mat-cell *matCellDef="let person">{{person.subject}}</td>
                            </ng-container>
                            <ng-container matColumnDef="job">
                                <th class="header" mat-header-cell *matHeaderCellDef>
                                    Job Title
                                  <mat-form-field class="filter" floatLabel="never">
                                    <mat-label>Search</mat-label>
                                    <input matInput [formControl]="jobFilter">
                                  </mat-form-field>
                                </th>
                                <td mat-cell *matCellDef="let person">{{person.job_title}}</td>
                              </ng-container>
                            <!-- job_title -->
                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row 
                              *matRowDef="let person; columns: columnsToDisplay"></tr>
                          </table>
                          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    

    
</div>