.support textarea {border-radius:20px;}
.discription{
    background: #ffb818;
    padding: 10px 40px;
    border-radius: 20px 0px 20px 20px;
    color: #fff!important;
    margin-bottom: 10px;
}
.discription p{
    margin-bottom: 0;
}

.discription_box {
position: sticky;
top: 0;
overflow-y: scroll;
height: 100vh;
}

.my_btn {font-size:26px!important; color:#fff!important;}
body {overflow-y:hidden;}
.discription_box::-webkit-scrollbar {
width: 5px;
}



/* Handle */
.discription_box::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 10px;
}

.sup_heading {font-size:36px; margin-bottom:40px;}
.sup_heading i {background:#ffb818; height:50px; width:50px; text-align:center; border-radius:50%; line-height:50px; color:#fff;}

@media screen and (max-width: 767px) and (min-width: 360px) { 

	.sup_heading {
		font-size: 25px!important;
	}
    .sup_heading i{
        background: #ffb818;
        height: 35px;
        width: 35px;
        text-align: center;
        border-radius: 50%;
        line-height: 38px!important;
        color: #fff;
    }
}

@media screen and (max-width: 360px) and (min-width: 320px) { 

	.sup_heading {
		font-size: 25px!important;
	}
    .sup_heading i{
        background: #ffb818;
        height: 35px;
        width: 35px;
        text-align: center;
        border-radius: 50%;
        line-height: 38px!important;
        color: #fff;
    }

}