

    <!--==================================*
               Main Section
    *====================================-->
    <div class="main-content-inner">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="sup_heading">
                    <i class="fa fa-phone"></i> Customer Support
                </div>
            </div>    
            <div class="col-md-6 grid-margin">
                    <div class="support" >
                        <form [formGroup]="customerSupport" (ngSubmit)="onSumbit()">
                              <div class="form-group">
                                  <textarea type="text" class="form-control" placeholder="Description" style="height:380px;" formControlName="query" ></textarea>
                              </div>      
                              <div class="form-group">
                                  <button class=" btn btn-primary btn-block my_btn" type="submit" >Submit</button>
                              </div>      
                          </form>      
                    </div>
                </div >
                
                <div class="col-md-6 grid-margin"  >
                    <div class="support_list_inner">
                        <ng-container *ngFor="let list of dataList">
                        <!-- <div class="discription_box"> -->
                        <div class="discription">
                            <p>{{list.query}}</p>
                        </div>
                        <!-- <div class="discription">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="discription">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="discription">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="discription">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="discription">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div> -->
                    <!-- </div>    -->
                    </ng-container>
                </div>
                </div>
            
            </div>
        </div>
