<div class="main-content-inner">
  <div class="row mb-4">

    <div class="col-lg-12 col-md-12 mt-4 stretched_card">
      <div class="card">
        <div class="card-body">

          <div class="table-responsive mt-10">
            <div class="example-header">
              <mat-form-field>

                <input type="text" matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Search">
              </mat-form-field>
            </div>

            <table mat-table matSort [dataSource]="dataSource">
              <ng-container matColumnDef="name">
                <th class="header" mat-header-cell *matHeaderCellDef>
                  Candidate Name
                  <!-- <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="nameFilter">
                  </mat-form-field> -->
                </th>
                <td mat-cell class="hover_name pointer_class" *matCellDef="let person">{{person?.username}}
                </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th class="header" mat-header-cell *matHeaderCellDef>
                  Candidate Email
                  <!-- <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="idFilter">
                  </mat-form-field> -->
                </th>
                <td mat-cell *matCellDef="let person">{{person?.email}}</td>
              </ng-container>

              <ng-container matColumnDef="favouriteColour">
                <th class="header" mat-header-cell *matHeaderCellDef>
                  Candidate Location
                  <!-- <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="colourFilter">
                  </mat-form-field> -->
                </th>
                <td mat-cell *matCellDef="let person">{{person?.address}}</td>
              </ng-container>

              <ng-container matColumnDef="pet">
                <th class="header" mat-header-cell *matHeaderCellDef>
                  Specialities
                  <!-- <mat-form-field class="filter" floatLabel="never">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="petFilter">
                  </mat-form-field> -->
                </th>
                <td mat-cell *matCellDef="let person">{{person.subject}}</td>
              </ng-container>

              <ng-container matColumnDef="view">
                <th class="header" mat-header-cell *matHeaderCellDef>
                  View Detail
                </th>
                <td mat-cell *matCellDef="let person" data-target="#viewJob" data-toggle="modal"
                  (click)="userData(person)">
                  <i class="fa fa-eye viewPostBtn"></i>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr> -->
              <tr mat-row *matRowDef="let person; columns: columnsToDisplay"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to Teacher Detail -->
<div class="modal fade" id="viewJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content widthInc">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Teacher Detail</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="single_details userSelectImg">

              <img class="images profile_pic_" src={{images}}>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Name</h5>
              <h4>{{accessData?.username}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Email</h5>
              <h4>{{accessData?.email}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Contact Number</h5>
              <h4>{{accessData?.phoneNumber}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Constituency</h5>
              <h4>{{accessData?.city}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>County</h5>
              <h4>{{accessData?.state}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Country</h5>
              <h4>{{accessData?.country}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Location</h5>
              <h4>{{accessData?.address}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>School Type</h5>
              <h4>{{accessData?.schoolType}}</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="single_details">
              <h5>Skills </h5>
              <h4>{{accessData?.subject}}</h4>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single_details">
              <h5>Experience</h5>
              <h4>{{accessData?.experience}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Education Detail</h5>
              <h4>{{accessData?.educationDetail}}</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="single_details">
              <h5>Resume</h5>
              <button class="btn btn-primary mt-2" (click)="download()">
                <span>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>