<div class="main-content-inner">
    <div class="row mb-4">

        <div class="col-lg-12 col-md-12 mt-4 stretched_card">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div class="d-flex float-right">
                                    <button class="btn btn-primary" (click)="addJob()">Add Job Post</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mt-10">
                        <div class="example-header">
                            <mat-form-field>
                                <input type="text" matInput (keyup)="applyFilter($any($event.target).value)"
                                    placeholder="Search">
                            </mat-form-field>
                        </div>
                        <!-- <table class="table table-hover table-center"> -->
                        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef> Job title </mat-header-cell>
                                <mat-cell class="hover_name" *matCellDef="let row" [style.color]="row?.color"
                                    (click)="onSave(row._id)">
                                    {{row?.profession}}</mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> Experience </mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.color]="row?.color"> {{row?.experience}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="date">
                                <mat-header-cell *matHeaderCellDef>Created At</mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.color]="row?.color">{{row?.created | date}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="job_id">
                                <mat-header-cell *matHeaderCellDef>View Job Detail</mat-header-cell>
                                <mat-cell *matCellDef="let row" [style.color]="row?.color" data-toggle="modal"
                                    data-target="#viewJob" class="pad_left" (click)="onClick(row._id)"><i
                                        class="fa fa-eye viewPostBtn"></i>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        <!-- </table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal to Job Detail -->
<div class="modal fade" id="viewJob" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Job Detail</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single_details">
                            <h5>Title</h5>
                            <h4>{{jobData?.professionName}}</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_details">
                            <h5>Job Type</h5>
                            <h4>{{jobData?.jobType.type}}</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_details">
                            <h5>Vacancy</h5>
                            <h4>{{jobData?.totalVacancy}}</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_details">
                            <h5>Experience</h5>
                            <h4>{{jobData?.experience.experience}}</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_details">
                            <h5>Salary</h5>
                            <h4>{{jobData?.salary}}</h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_details">
                            <h5>Skills</h5>
                            <h4>{{jobData?.skills}}</h4>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single_details">
                            <h5>Description</h5>
                            <h4>{{jobData?.jobDescription}}</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>