
<h1 mat-dialog-title>Select Address</h1>
<div class="form-group">
    <label>Enter address</label>
<input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" [(ngModel)]="address">
<div mat-dialog-content>

<agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  </div>
  <div mat-dialog-actions>
    <button mat-button  class="btn btn-primary px-6" (click)="close()">Close</button>
    <button mat-button   class="btn btn-primary px-6" (click)="save()" >save</button>
  </div>