<div class="login_box">
    <div class="container-fluid">
      <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-6 p-0">	
          <div class="logo_bg">
            <div class="form_box">	
            <form [formGroup]="login" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="box_text new_text">
                  <h2>Get more things done with Login platform.</h2>
                  <p>Access to the most powerfull tool in the entire design and web industry.</p>
                </div>
                <div class="col-md-12">
                  <div class="form-group">	
                    <input type="email" class="form-control" placeholder="E-mail" formControlName = "email" required [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                  </div>
                  
                </div>
                <div class="col-md-12">
                  <div class="form-group">	
                    <input type="password" class="form-control" placeholder="Password" formControlName = "password" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">password is required</div>
                  </div>
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="form-group ">
                    <div class="text-right">
                    <button class="btn btn-primary btn-block login" type="submit">Login</button>
                    </div>
                    <div class="row">
                      <div class="col-md-6 forget">
                        <p routerLink="/forgot-password">Forget Password?</p>
                      </div>
                      <div class="col-md-6 forget">
                          <p class=" text-right"><a routerLink="/register" routerLinkActive="active">Create a account</a></p>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>	
            </form>	
          </div>
          </div>	
        </div>	
        <div class="col-md-6">
          <div class="logo text-right">	
            <img src="../img/logo-light.png" class="img-fluid">
          </div>
          <div class="logo_img">
            <img src="../img/graphic2.svg" class="img-fluid" />
          </div>	
        </div>	
      </div>	
    </div>	
  </div>