
.viewPostBtn {
    width: 30px;
    height: 30px;
    background: #ffb818;
    border-radius: 50px;
    line-height: 30px;
    text-align: center;
    color: #30302e;
    font-size: 15px;
    cursor: pointer;
}

.single_details h5 {
    font-size: 15px;
    font-weight: 500;
    color: #484848;
    margin-bottom: 0;
    text-transform: capitalize;
}
.mail_details h5 {
    font-size: 15px;
    font-weight: 500;
    color: #484848;
    margin-bottom: 0;
    text-transform: capitalize;
}
.single_details h4, .single_details h4 a {
    font-size: 18px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 16px;
    color: #000000;
    text-transform: capitalize;
}
.mail_details h4 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 16px;
    color: #000000;
}
.userSelectImg{
    width: 150px;
    min-width: 150px;
    height: 150px;
    background: rgb(233, 233, 233);
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 25px!important;
    margin: auto;
    border: 2.5px solid #ffb818;
}
.userSelectImg .images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hover_name:hover {
    font-size: 20px;
}