<div class="main-content-inner">
  <div class="row mb-4">

    <div class="col-lg-12 col-md-12 mt-4 stretched_card">
      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-md-8">

            </div>
          </div>
          
          <div class="table-responsive mt-10">
            <!-- <div class="example-header">
              <mat-form-field>
                <input type="text" matInput (keyup)="applyFilter($any($event.target).value)" placeholder="filter">
              </mat-form-field>
            </div> -->
            <!-- <table class="table table-hover table-center"> -->
            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row?.color"> {{row?.userName}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row?.color"> {{row?.subject}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>School Type</mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row?.color">{{row?.schoolType}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="experience">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Experience</mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row?.color">{{row?.experience}}</mat-cell>
              </ng-container>


              <ng-container matColumnDef="icon">
                <mat-header-cell *matHeaderCellDef mat-sort-header>View Candidate Detail</mat-header-cell>
                <mat-cell *matCellDef="let row" data-toggle="modal" data-target="#editProfile"><i
                    class="fa fa-eye viewPostBtn" (click)="userData(row)"></i>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            <!-- </table> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to Eligible Candidate Detail -->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eligible Candidate Detail</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="single_details userSelectImg">
              <img class="images" src={{accessData?.profilePic}}>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Name</h5>
              <h4>{{accessData?.userName}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mail_details">
              <h5>Email</h5>
              <h4>{{accessData?.email}}</h4>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single_details">
              <h5>Mobile Number</h5>
              <h4>{{accessData?.country_code}}{{accessData?.phoneNumber}}</h4>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single_details">
              <h5>Location</h5>
              <h4>{{accessData?.address}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Constituency</h5>
              <h4>{{accessData?.city_name}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>County</h5>
              <h4>{{accessData?.state_name}}</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_details">
              <h5>Country</h5>
              <h4>{{accessData?.country_name}}</h4>
            </div>
          </div>
        
          <div class="col-md-6">
            <div class="single_details">
              <h5>Experience</h5>
              <h4>{{accessData?.experience}}</h4>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single_details">
              <h5>Subject</h5>
              <h4>{{accessData?.subject}}</h4>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single_details">
              <h5>School Type</h5>
              <h4> {{accessData?.schoolType}}</h4>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row single_details">
              <div class="col-md-6 col-6">
                <h4>Resume</h4>
              </div>
              <div class="col-md-6 col-6">
                <button class="btn btn-primary" (click)="download()">
                  <span>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </span>
                  View
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="accessData?.status === 1">
            <div class=" col-md-12 text-center mt-4 ">
              <h3>User Applied!</h3>
            </div>
          </div>
          <div *ngIf="accessData?.status === 2">
            <div class=" col-md-12 text-center mt-4 ">
              <h3>User Applied!</h3>
            </div>
          </div>
          <div *ngIf="accessData?.status === 4">
            <div class=" col-md-12 text-center mt-4 ">
              <h3>Application accepted!</h3>
            </div>
          </div>
          <div *ngIf="accessData?.status === 3">
            <div class=" col-md-12 text-center mt-4 ">
              <h3>Application rejected!</h3>
            </div>
          </div>
          <div *ngIf="accessData?.status === 5">
            <div class=" col-md-12 text-center mt-4 ">
              <h3>Mail sent already!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Eligible Candidate Detail modal close here-->