<div class="header-area">

    <!--======================*
               Logo
    *=========================-->
    <div class="header-area-left">
        <a  class="logo" (click)="jobpost()">
            <span>
                <img src="../img/logo-light.png" alt="" height="18">
            </span>
            <i>
                <img src="../img/logo-light.png" alt="" height="22">
            </i>
        </a>
    </div>
    <!--======================*
              End Logo
    *=========================-->

    <div class="row align-items-center header_right">
        <!--==================================*
                 Navigation and Search
        *====================================-->
        <div class="col-md-6 d_none_sm d-flex align-items-center">
            <div class="nav-btn button-menu-mobile pull-left" id="sidebarIcon" (click)="toggleSidebar()">
                <button class="open-left waves-effect">
                    <i class="fa fa-bars navbar-icon text-white"></i>
                </button>
            </div>
            <!-- <div class="search-box pull-left">
                <form action="#">
                    <i class="fa fa-search"></i>
                    <input type="text" name="search" placeholder="Search..." required="">
                </form>
            </div> -->
        </div>
        <!--==================================*
                 End Navigation and Search
        *====================================-->
        <!--==================================*
                 Notification Section
        *====================================-->
        <div class="col-md-6 col-sm-12">
            <ul class="notification-area d-flex justify-content-between align-items-center">
                <li class="mobile_menu_btn" (click)="toggleSidebar()">
                    <span class="nav-btn pull-left d_none_lg">
                        <button class="open-left waves-effect"  >
                            <i class="fa fa-bars"  ></i>
                        </button>
                    </span>
                </li> 
                <li id="full-view" class="d_none_sm"><i class="feather ft-maximize"></i></li>
                <li id="full-view-exit" class="d_none_sm"><i class="feather ft-minimize"></i></li>
                <li class="dropdown">
                    <i class="fa fa-bell" data-toggle="dropdown" (click)="onNotification()"><span class="badge bg-danger rounded-pill">new</span></i>
                    <div class="dropdown-menu bell-notify-box notify-box">
                        <span class="notify-title">You have new notifications</span>
                        <div class="nofity-list" >
                            <div class="notify-item" *ngFor="let list of dataList">
                                <div class="notify-thumb"><i class="ti-map-alt bg_blue"></i></div>
                                <div class="notify-text">
                                    <h3>{{list?.title}}</h3>
                                    <span>{{list?.message}}</span>
                                </div>
                            </div>
                          
                          
                        </div>
                    </div>
                </li>
              
                
                <li class="user-dropdown">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="image" alt="" class="img-fluid">
                        </button>
                        <div class="dropdown-menu dropdown_user" aria-labelledby="dropdownMenuButton" >
                            <div class="dropdown-header d-flex flex-column align-items-center">
                                <div class="user_img mb-3">
                                    <img [src]="image" alt="User Image">
                                </div>
                                <div class="user_bio text-center">
                                    <p class="name font-weight-bold mb-0">{{username}}</p>
                                    <p class="email text-muted mb-3"><a class="pl-3 pr-3" >{{email}}</a></p>
                                </div>
                            </div>
                            <a class="dropdown-item" (click)="profile(id)"><i class="ti-user"></i> Profile</a>
                            <span role="separator" class="divider"></span>
                            <a class="dropdown-item" (click)="logOut()" ><i class="ti-power-off"></i>Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--==================================*
                 End Notification Section
        *====================================-->
    </div>

</div>