<!--==================================*
                   Main Section
        *====================================-->
<div class="main-content-inner">
    <div class="row">
        <!-- Textual inputs -->
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <h4 class="card_title">Job Post</h4>
                <div class="card-body">
                    <form [formGroup]="postJob" (ngSubmit)="onSubmit()">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="col-form-label">Title</label>
                                    <input class="form-control" type="text" value="Title"
                                        formControlName="profession">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-email-input" class="col-form-label">Job Type</label>
                                    <select class="form-control" name="jobType" formControlName="jobType" (change)="onSelectType($any($event.target).value)">
                                        <option selected [value]="undefined" disabled>select type</option>
                                        <option *ngFor="let x of jobType" [value]="x._id">{{x.type}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-email-input" class="col-form-label">Vacancy</label>
                                    <input class="form-control" type="number" formControlName="totalVacancy">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <!-- <label for="example-email-input" class="col-form-label">Skills</label>
                                        <select class="form-control"
                                        name="skills"
                                        formControlName="skills"   multiple
                                        >
                                        <option selected [value]="undefined" disabled>select skill</option>
                                      <option *ngFor="let x of skills" [value]="x.subject">{{x.subject}}</option> 
                                      </select> -->
                                    <mat-label  class="col-form-label" >Skills</mat-label>
                                    <mat-select   class="form-control"  formControlName="skills" multiple>
                                        <mat-option *ngFor="let x of skills" [value]="x.subject">{{x.subject}}
                                        </mat-option>
                                    </mat-select>                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-tel-input" class="col-form-label">Salary</label>
                                    <input class="form-control" type="text" value="salary" id="example-tel-input"
                                        formControlName="salary">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputPassword" class="">Experience</label>
                                    <!-- <input type="text" class="form-control" id="inputPassword" value="Experience" placeholder="Experience" formControlName="experience"> -->
                                    <select class="form-control" name="experience" formControlName="experience">
                                        <option selected [value]="undefined" disabled>select experiences</option>
                                        <option *ngFor="let x of experience" [value]="x._id">{{x.experience}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Address" (click)="openMap()"
                                        formControlName="location" [(ngModel)]="showAddress">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Description</label>
                            <textarea class="form-control" style="height:150px;"
                                formControlName="jobDescription"></textarea>
                        </div>

                        <div class="form-group float-right">
                            <button class="btn btn-primary" type="submit">Post</button>
                        </div>

                    </form>
                </div>
            </div>
            <!-- Textual inputs -->
        </div>


    </div>
    <!--==================================*
                   End Main Section
        *====================================-->