<h1></h1>


<div class="main-content-inner" style="min-height:80vh">
    <div class="row">
        <div class="offset-md-2 col-md-7">
            <div class="card bg-white">
                <div class="card_title">
                    <h3 class="mb-0">Privacy-Policy</h3>
                </div>
                <div class="card-body">
                    <p>
                        Privacy Policy
                    
                        We value your trust. In order to honour that trust, OTRA adheres to ethical standards in gathering, using, and
                        safeguarding any information you provide. Ontech, is a leading company, incorporated in Kenya, for imparting
                        learning. This privacy policy governs your use of the application 'OTRA - The Teaching recruitmen
                        application'('Application'),and other associated applications, products, websites and services managed by the
                        Company. Please read this privacy policy ('Policy') carefully before using the Application, Website, our services
                        and products, along with the Terms of Use ('ToU') provided on the Application and the Website. Your use of the
                        Website, Application, or services in connection with the Application, Website or products ('Services'), or
                        registrations with us through any modes or usage of any products including through SD cards, tablets or other
                        storage/transmitting device shall signify your acceptance of this Policy and your agreement to be legally bound by
                        the same. If you do not agree with the terms of this Policy, do not use the Website, Application our products or
                        avail any of our Services.</p>
                </div>
            </div>
        </div>
    </div>
</div>