
<h1 mat-dialog-title >Verify OTP</h1>
<div mat-dialog-content>
  <p >{{msg}}</p>
  <mat-form-field *ngIf="status=='success'" >
     <input matInput [(ngModel)]="otp" placeholder="Enter OTP">
  </mat-form-field>
  <mat-form-field *ngIf="status=='error'" >
    <mat-label>Number or email already exist</mat-label>
   
  </mat-form-field>
  <mat-form-field *ngIf="submited">
    <mat-error class="is-invalid">{{msg}}</mat-error>
   
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn  btn-primary"(click)="submit()"  *ngIf="status=='success'">Proceed</button>
  <button mat-button class="btn  btn-danger"(click)="close()">close</button>

</div>
