body {
	background: #dee4f4;
}

.login_box {
	background: #ffb818;
	min-height: 100vh;
	max-height: 100vh;
	width: 100%;

}

.logo_bg {
	 background: #fff;
	min-height: 100vh;
	max-height: 100vh;
}

.form_box {
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.form-control {
	background: #fff;
	border: 1px solid #fff;
}

.login {
	background: #ffb818;
	color: #30302e;
	font-weight: 600;
	border: 0;
	border-radius: 20px;
	box-shadow: 0 0 5px 0px #fff;
}

.login a {color: #fff; text-decoration: none;}

.login:hover {background:#1083ff;}



.login:focus {
	border: 0;
}

label {
	color: #fff;
}

::placeholder {
	color: #666!important;
}

.logo_img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.logo_img img {
	width: 60%;
}

.logo img {
	width: 30%;
}

.logo {
	position: relative;
	top: 0px;
}

.box_text h2 {
	font-size: 24px;
	margin-left: -15px;
}

.box_text {
	color: #30302e;
	width: 90%;
}
.box_text1 {
	color: #fff;
	width: 90%;
	margin: 15px;
}


.box_text2 {
	color: #fff;
	width: 90%;
	margin: 15px;
}

.box_text3 {
	color: #fff;
	width: 90%;
	margin: 15px;
}


.forget p {
	line-height: 32px;
	font-weight: 600;
	margin-top: 10px;
}

.resend {
	line-height: 32px;
	font-weight: 600;
	margin-top: 10px;
}

.resend a {
	color: #fff;
}

.forget a {
	color: #30302e;
	text-decoration: none;
}

.social_link ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}

.social_link ul li {
	color: #ffb818;
	margin: 0 10px;
	background: #30302e;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
}

.new_text {margin: 15px;}
.new_text h2 {margin-left: 0;}


@media screen and (max-width: 767px) and (min-width: 360px) { 
	.form_box {width: 80%;}
	.logo_img {position: inherit; top: 0; left: 0; transform: translate(0,0);}
	.logo_img img {width: 40%;}
	/* .logo {top: 15px;} */
	.new_text h2 {font-size: 17px;}
	.new_text p {font-size: 14px;}
	.forget {width: 50%;}
	.forget2 {width: 50%;}
	.forget3 {width: 50%;}
	/* .logo {display: none;} */
	/* .logo_img {display: none;} */
	.new_form {top: 52%;}
	.header-area .header-area-left .logo i img {
		width: 50px!important;
	}
	.sup_heading[_ngcontent-dpb-c176] {
		font-size: 25px;
	}

}

@media screen and (max-width: 360px) and (min-width: 320px) { 
	.form_box {width: 80%;}
	.logo_img {position: inherit; top: 0; left: 0; transform: translate(0,0);}
	.logo_img img {width: 40%;}
	.logo {top: 15px;}
	.new_text h2 {font-size: 17px;}
	.new_text p {font-size: 14px;}
	.forget {width: 50%;}
	.forget2 {width: 50%;}
	.forget3 {width: 50%;}
	.logo {display: none;}
	.logo_img {display: none;}
	.new_form {top: 52%;}
	.forget a {font-size: 14px;}
	.sup_heading[_ngcontent-dpb-c176] {
		font-size: 25px!important;
	}

}

.form-control {background:inherit; border-radius:0; border-color:#ffb818;}

::placeholder {color:#30302e;}

.btn-primary:hover {background:#30302e; color:#ffb818;}

.forget2 a {color:#30302e!important;}

.form-control:focus {border-color:#ffb818; box-shadow:0 0 0 0;}