.single_details h5 {
    font-size: 15px;
    font-weight: 500;
    color: #484848;
    margin-bottom: 0;
    text-transform: capitalize;
}
.single_details h4, .single_details h4 a {
    font-size: 18px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 16px;
    color: #000000;
   /* text-transform: capitalize; */
}
.mail_details h5 {
  font-size: 15px;
  font-weight: 500;
  color: #484848;
  margin-bottom: 0;
  text-transform: capitalize;
}
.mail_details h4 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 3px;
  margin-bottom: 16px;
  color: #000000;
}

/* width */
.modal-dialog-scrollable::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.modal-dialog-scrollable::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.modal-dialog-scrollable::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.modal-dialog-scrollable::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .userSelectImg{
    width: 150px;
    height: 150px;
    background: rgb(233, 233, 233);
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 25px!important;
    margin: auto;
  }
  .profile_pic_ {
    height: 150px;
    width: 150px;
    object-fit: cover;
}