    
 
         ==================================*
                    Main Section
         *====================================-->

<div class="main-content-inner" style="min-height:80vh">
    <div class="row">
        <div class="offset-md-2 col-md-7">
            <div class="card bg-white">
                <div class="card_title">
                    <h3 class="mb-0">Candidate Detail</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="single_details">
                                <h5>Profile Image</h5>
                                <h4>{{dataSource?.teacher_profile}}</h4>
                            </div>
                            
                        </div> -->
                        <div class="col-md-12">
                            <div class="single_details userSelectImg">
                                <!-- <h5>Profile Image</h5> -->
                                <img class="images profile_pic_" src={{images}}>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Name</h5>
                                <h4>{{dataSource?.teacher_username}}</h4>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mail_details">
                                <h5>Email</h5>
                                <h4>{{dataSource?.teacher_email}}</h4>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Mobile Number</h5>
                                <h4>{{dataSource?.teacher_country_code}}{{dataSource?.teacher_number}}</h4>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Address</h5>
                                <h4>{{dataSource?.teacher_address}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Constituency</h5>
                                <h4>{{dataSource?.city_name}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>County</h5>
                                <h4>{{dataSource?.state_name}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>country</h5>
                                <h4>{{dataSource?.country_name}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Job Type</h5>
                                <h4>{{dataSource?.jobType}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Job Vacancy</h5>
                                <h4>{{dataSource?.job_totalVacancy}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Experience</h5>
                                <h4>{{dataSource?.teacherExperience}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Required Experience</h5>
                                <h4>{{dataSource?.jobExperience}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Skills</h5>
                                <h4>{{dataSource?.teacher_skills}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Required Skills</h5>
                                <h4>{{dataSource?.job_subject}}</h4>
                            </div>
                        </div>
                   

                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Profession Name</h5>
                                <h4>{{dataSource?.job_title}}</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Required Profession</h5>
                                <h4>{{dataSource?.job_title}}</h4>
                            </div>
                        </div>
                     
                     

                        <div class="col-md-6">
                            <div class="single_details">
                                <h5>Resume</h5>
                                <button class="btn btn-primary mt-2" (click)="download()">
                                    <span>
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                    View
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dataSource.status === 1">
                        <div class=" col-md-12 text-center mt-4 " >
                            <label class="btn btn-primary active mr-3">
                                <input type="radio" name="options" hidden id="option1" autocomplete="off" checked
                                    (click)="onAccept(this.applicant_id, this.job_id,  this.school_id, this.application_id)">
                                Accept
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" hidden id="option2" autocomplete="off"
                                    (click)="onReject(this.job_id, this.user_id, this.school_id, this.application_id)">
                                Reject
                            </label>
                        </div>
                    </div>
                     <div *ngIf="dataSource.status === 2">
                        <div class=" col-md-12 text-center mt-4">
                            <label class="btn btn-primary active mr-3">
                                <input type="radio" name="options" hidden id="option1" autocomplete="off" checked
                                    (click)="onAccept(this.applicant_id, this.job_id,  this.school_id, this.application_id)">
                                Accept
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" hidden id="option2" autocomplete="off"
                                    (click)="onReject(this.job_id, this.user_id, this.school_id, this.application_id)">
                                Reject
                            </label>
                        </div>
                     </div>
                     <div *ngIf="dataSource.status === 3">
                        <div class=" col-md-12 text-center mt-4 ">
                            <p >
                                this teacher is rejected already</p>
                        </div>
                    </div>
                    <div id="movetosend">
                        <div *ngIf="dataSource.status === 4">
                            <div class="col-md-12 text-center mt-4">

                                <div class="single_details">
                                    <button class="btn btn-primary m-r-10 m-b-5" data-toggle="modal"
                                        data-target="#sendMail">Send Mail</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="dataSource.status === 5">
                        <div class=" col-md-12 text-center mt-4 ">
                            <label class="btn btn-primary">
                                <input type="radio" name="options" hidden id="option2" data-toggle="modal"
                                    data-target="#viewMail" autocomplete="off"
                                    (click)="viewMail(this.job_id, this.user_id, this.school_id, this.application_id)" >
                                View Mail
                            </label>
                        </div>
                    </div> 

                    <!-- =================================*
                   End Main Section
        *==================================== -->

                    <!-- Modal PopUp send mail-->
                    <div class="modal fade" id="sendMail" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Send Mail</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ng-container *ngIf="submitted== false">
                                        <form [formGroup]="sendMail"
                                            (ngSubmit)="onSumbit(this.job_id,this.applicant_id, this.school_id, this.application_id)">
                                            <div class="form-group">
                                                <input type="text" class="to form-control" id="name"
                                                    placeholder="Subject" formControlName="title">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="to form-control" placeholder="Message" id="name"
                                                    style="height:200px" formControlName="text"></textarea>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="submit" class="btn btn-primary">Send</button>
                                            </div>
                                        </form>
                                    </ng-container>
                                   
                                    <ng-container *ngIf="submitted">
                                        <h3>{{msg}} </h3>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Modal to view Mail -->
                    <div class="modal fade" id="viewMail" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-md modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">View Mail</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12 mb-2">
                                            <div class="single_details">
                                                <h4>Title</h4>
                                                <h5>
                                                    {{accessData?.title}}</h5>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single_details">
                                                <h4>Message</h4>
                                                <h5>  {{accessData?.message}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--edit profile modal close here-->