<app-header-dashboard></app-header-dashboard>

<div id="page-container">
    <div class="sidebar_menu" id="sidebarContainer">
        <div class="menu-inner">
            <div id="sidebar-menu">

                <ul class="metismenu" id="sidebarMenu">

                    <li>
                        <a (click)="jobpost()">
                            <i class="fa fa-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="postedJobs()">
                            <i class="fa fa-user-o"></i>
                            <span>Posted Jobs</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="getTeachers()">
                            <i class="fa fa-user-o"></i>
                            <span>View Teachers</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="subscription()">
                            <i class="fa fa-lightbulb-o"></i>
                            <span>Subscription Plan</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="support()">
                            <i class="fa fa-headphones"></i>
                            <span>Customer Support</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="logOut()">
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="main-content page-content">

        <router-outlet></router-outlet>

    </div>
</div>