.form-control{
    border: 1px solid rgb(153, 153, 153);
    border-radius: 10px;
    padding: 10px 10px;
}
label{
    font-weight: 600;
    color: #000;
}
.Register_box1,
.Register_box2,
.Register_box3 {
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 12%);
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_box{
    width: 55%;
}