<div class="login_box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="logo_bg">
                    <div class="form_box new_form">
                        <form [formGroup]="forgotPassword" (ngSubmit)="onClick()">
                            <!-- <div class="row"> -->
                            <div class="Register_box1">
                                <div class="row">
                                    <div class="box_text new_text">
                                        <h2>Forgot Password?</h2>
                                        <p>To reset your password, enter the email address you use to sign in to
                                            inform.</p>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="E-mail Address"
                                                formControlName="username">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7 col-xs-7 forget2">
                                        <!-- <p class="" (click)="anotherWay()" >Another Way....</p> -->
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-sm-5 forget3">
                                        <div class="form-group ">
                                            <div class="text-right">
                                                <button type="button" class="btn btn-primary btn-block login"
                                                    (click)="personal()">Send OTP</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Register_box2">
                                <!-- <div class="row">
                                    <div class="box_text new_text">
                                        <h2>Forgot Password?</h2>
                                        <p>To reset your password, enter the mobile number you use to sign in to
                                            inform.</p>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="tel" class="form-control" placeholder="Enter mobile number"  formControlName="mobileNumber">
                                        </div>
                                    </div>

                                    <div class="col-md-7 col-sm-7 col-xs-7 forget2">
                                        <p class="" (click)="anotherWay2()"  >Another Way..... </p>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-sm-5 forget3">
                                        <div class="form-group ">
                                            <div class="text-right">
                                                <button type="button" class="btn btn-primary btn-block login" 
                                                    (click)="personal()">Send OTP</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="Register_box3">
                                <div class="row">
                                    <div class="col-md-12 p-0">
                                        <div class="logo_bg">
                                            <div class="form_box">

                                                <div class="row">
                                                    <div class="box_text new_text">

                                                        <h2>OTP Verification</h2>
                                                        <p>Enter the verfication code we just sent you on your
                                                            email address.</p>

                                                    </div>

                                                    <div class="col-md-3 pl-0">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                formControlName="otp1">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 pl-0">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                formControlName="otp2">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 pl-0">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                formControlName="otp3">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 pl-0">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                formControlName="otp4">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 pl-0 forget2">
                                                        <p class="resend"> <button type="button" class="btn btn-primary"
                                                                (click)="sendOtp()">Resend
                                                                OTP</button></p>
                                                    </div>
                                                    <div class="col-md-6 forget3">
                                                        <div class="form-group ">
                                                            <div class="text-center mt-2">
                                                                <button type="button" class="btn btn-primary"
                                                                    (click)="verifyOtp()">Verify OTP</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Register_box4">
                                <div class="row">
                                    <div class="col-md-12 p-0">
                                        <div class="logo_bg">
                                            <div class="form_box">

                                                <div class="row">
                                                    <div class="form-group col-12">
                                                        <label for="name">Enter new password</label>
                                                        <input type="password" class="form-control"
                                                            formControlName="newpassword">
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <label for="name">Enter confirm password</label>
                                                        <input type="password" class="form-control"
                                                            formControlName="confirmPassword">
                                                    </div>
                                                    <div class="form-group col-12 text-right">
                                                        <button class="btn btn-primary" type="submit"> Submit </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="logo text-right">
                    <img src="img/logo-light.png" class="img-fluid">
                </div>
                <div class="logo_img">
                    <img src="img/graphic2.svg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>