<div id="page-container">


  <!--==================================*
               Main Section
    *====================================-->
  <div class="main-content-inner">
    <div class="profile_page">
      <div class="row">
        <div class="col-lg-12">
          <div class="cover-profile">
            <div class="profile-bg-img" style="background: url('../assets/images/lock-bg.jpg') no-repeat;">
              <div class="card-block user-info">
                <div class="col-md-12">
                  <div class="media-left">
                    <a class="profile-image">
                      <img class="user-img img-radius" [src]="image" alt="user-img">
                    </a>
                  </div>
                  <div class="media-body row">
                    <!-- <div class="col-lg-12">
                                            <div class="user-title">
                                                <h2>{{dataSource?.username}}</h2>
                                            </div>
                                        </div> -->
                    <div>
                      <div class="pull-right cover-btn">
                        <button type="button" class="btn btn-light m-r-10 m-b-5 mr-2" data-toggle="modal"
                          data-target="#editProfile"><i class="fa fa-edit"></i> Edit Profile</button>
                        <button type="button" class="btn btn-light m-r-10 m-b-5" data-toggle="modal"
                          data-target="#editPassword"><i class="fa fa-key"></i> Change Password</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="tab-header card mb-4">
            <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#personal" role="tab" aria-expanded="true">About
                  Me</a>
                <div class="slide"></div>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="personal" role="tabpanel" aria-expanded="true">
              <div class="card mb-4">
                <div class="card-block">
                  <div class="view-info">
                    <div class="general-info">
                      <div class="row">
                        <div class="col-lg-12 col-xl-6">
                          <div class="table-responsive">
                            <table class="table m-0">
                              <tbody>
                                <tr>
                                  <th scope="row">School Name</th>
                                  <td>{{dataSource?.username}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Email</th>
                                  <td>{{dataSource?.email}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Mobile Number</th>
                                  <td>{{dataSource?.phoneNumber}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Address</th>
                                  <td>{{dataSource?.address}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Country</th>
                                  <td>{{dataSource?.country}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Country</th>
                                  <td>{{dataSource?.state}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Constituency</th>
                                  <td>{{dataSource?.city}}</td>
                                </tr>
                                <tr>
                                  <th scope="row"></th>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--==================================*
               End Main Section
    *====================================-->
</div>
<!--=================================*
       End Main Content Section
*===================================-->

<!--=================================*
              Footer Section
*===================================-->

<!-- Modal to edit profile -->
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="editProfileContainer">
          <div class="row">
            <div class="col-md-12">
              <div class="single_details userSelectImg">
                <img class="images" [src]="image" alt="user-img">
              </div>
            </div>
          </div>
          <form [formGroup]="editDetail" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="">Change Profile Image</label>
                <input class="form-control" type="file"  (change)="onChange($event)" formControlName="profile">
              </div>

              <div class="form-group col-md-6">
                <label for="name">Username</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="dataSource.username"
                  formControlName="username">
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="dataSource.email"
                    formControlName="email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Select Country Name</label>
                  <select class="form-control" id="name"  formControlName="country" (change)="onChangeCountry($any($event.target).value)">
                    <option selected [value]="" disabled>Select Country</option>
                    <option *ngFor="let x of countryData" [value]="x._id">{{x.name}}</option>
                 </select>
                  <!-- <select class="form-control" formControlName="country_code" appCountryflag
                    [(ngModel)]="selectedCountryCode">
                    <option *ngFor="let country of json" [value]="country.twoLetterCode">{{country.name}}</option>
                  </select> -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Select County Name</label>
                  <select class="form-control" id="name" formControlName="state" (change)="onChangeState($any($event.target).value)">
                    <option selected [value]="" disabled>Select County</option>
                    <option *ngFor="let x of states" [value]="x._id">{{x.name}}</option>
                 </select>
                  <!-- <select class="form-control" formControlName="country_code" appCountryflag
                    [(ngModel)]="selectedCountryCode">
                    <option *ngFor="let country of json" [value]="country.twoLetterCode">{{country.name}}</option>
                  </select> -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Select Constituency Name</label>
                  <select class="form-control" id="name" formControlName="city" (change)="onSelectCity($any($event.target).value)">
                    <option selected [value]="" disabled>Select Constituency</option>
                    <option *ngFor="let x of cities" [value]="x._id">{{x.name}}</option>
                 </select>
                  <!-- <select class="form-control" formControlName="country_code" appCountryflag
                    [(ngModel)]="selectedCountryCode">
                    <option *ngFor="let country of json" [value]="country.twoLetterCode">{{country.name}}</option>
                  </select> -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Mobile Number</label>
                  <input type="number" class="form-control" id="name" [(ngModel)]="dataSource.phoneNumber"
                    formControlName="phoneNumber">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="dataSource.address"
                    formControlName="address">
                </div>
              </div>
            </div>
            <div class="w-100 text-center my-3">
              <button type="submit" class="btn btn-primary px-4">Update Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--edit profile modal close here-->


<!-- Modal to change password -->
<div class="modal fade" id="editPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="editProfileContainer">
          <!-- <form> -->
          <form [formGroup]="changePassword" (ngSubmit)="onSave()">
            <div class="form-group">
              <label for="name">Password</label>
              <input type="text" class="form-control" id="name" formControlName="password">
            </div>
            <div class="form-group">
              <label for="name">New Password</label>
              <input type="text" class="form-control" id="name" formControlName="newpassword">
            </div>
            <div class="form-group">
              <label for="name">Confirm New Password</label>
              <input type="text" class="form-control" id="name" formControlName="confirmpassword">
            </div>
            <div class="w-100 text-center my-3">
              <button type="submit" class="btn btn-primary px-4">Update Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>