/* img.user-img.img-radius {
    max-width: 80%;

} */

.userSelectImg{
    width: 150px;
    height: 150px;
    background: rgb(233, 233, 233);
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 25px!important;
    margin: auto;
}
.userSelectImg .images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.user-img {
    width: 250px;
    height: 150px;
}