<div class="login_box">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 p-0">
            <div class="logo_bg">
               <div class="form_box new_form">
                  <form [formGroup]="register" (ngSubmit)="onSubmit()">
                     <div class="box_text">
                        <h2>Get more things done with Register platform.</h2>
                     </div>
                     <div class="row">

                        <!-- start personal details -->

                        <div class="Register_box1">
                           <div class="row">
                              <div class="col-md-12 mb-1">
                                 <div class="form-group">
                                    <label for="">Select Country Name</label>
                                    <!-- <select class="form-control" formControlName="country_code" appCountryflag   [(ngModel)]="selectedCountryCode">
                                        <option *ngFor="let country of json" [value]="country.twoLetterCode"  >{{country.name}}</option>
                                     </select > -->
                                    <select class="form-control"  formControlName="country" (change)="onChangeCountry($any($event.target).value)" >
                                       <option selected [value]="" disabled>Select Country</option>
                                       <option *ngFor="let x of countryData" [value]="x._id">{{x.name}}</option>
                                    </select>
                                 </div>

                                 <!-- <div *ngIf="pesonalSubmission && f.phoneNumber.errors" class="invalid-feedback">

                                    <div *ngIf="f.phoneNumber.errors.required">School Telephone No is required</div>
                                 </div> -->
                              </div>
                              <div class="col-md-12 mb-1">
                                 <div class="form-group">
                                    <label for="">Select County Name</label>
                                  
                                    <select class="form-control"  formControlName="state" (change)="onChangeState($any($event.target).value)">
                                       <option selected [value]="" disabled>Select County</option>
                                       <option *ngFor="let x of states" [value]="x._id">{{x.name}}</option>
                                    </select>
                                 </div>

                              </div>
                              <div class="col-md-12 mb-1">
                                 <div class="form-group">
                                    <label for="">Select Constituency Name</label>
                                    <select class="form-control"  formControlName="city" >
                                       <option selected [value]="" disabled>Select Constituency</option>
                                       <option *ngFor="let x of cities" [value]="x._id">{{x.name}}</option>
                                    </select>
                                 </div>

                              </div>
                              <div class="col-md-12 mb-1">
                                 <div class="form-group">
                                    <label for="">Enter Phone number</label>
                                    <input type="tel" class="form-control" placeholder="School Telephone No"
                                       formControlName="phoneNumber"
                                       [ngClass]="{ 'is-invalid': pesonalSubmission && f.phoneNumber.errors }">
                                 </div>
                              </div>
                              <div class="col-md-12 mb-1">
                                 <div class="form-group">
                                    <label for="">Enter E-mail</label>
                                    <input type="email" class="form-control" placeholder="School E-mail"
                                       formControlName="email"
                                       [ngClass]="{ 'is-invalid': pesonalSubmission && f.email.errors }">

                                 </div>
                                 <div *ngIf="pesonalSubmission && f.email.errors" class="invalid-feedback">

                                    <div *ngIf="f.email.errors.required">email is required</div>
                                 </div>
                              </div>

                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label for="">Choose Profile Image</label>
                                    <input class="form-control" type="file" (change)="onChange($event)">

                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group ">
                                    <button id="personal" (click)="personal()" class="btn btn-primary btn-block login"
                                       id="">Next</button>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <!-- end personal detail -->

                        <!-- start school detail -->

                        <div class="Register_box2">
                           <div class="row">
                              <div class="box_text1">
                                 <h4 class="text-dark">School Details</h4>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label for="">Enter School Name</label>
                                    <input type="text" class="form-control" placeholder="School Name"
                                       formControlName="username"
                                       [ngClass]="{ 'is-invalid': schoolSubmission && f.username.errors }">
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label for="">Enter Address</label>
                                    <!-- <input type="text" class="form-control" placeholder="Address" (click)="openMap()"  formControlName="address" [ngClass]="{ 'is-invalid': schoolSubmission && f.address.errors }" [(ngModel)]="showAddress"> -->
                                    <input type="text" class="form-control" placeholder="Address"
                                       formControlName="address"
                                       [ngClass]="{ 'is-invalid': schoolSubmission && f.address.errors }"
                                       [(ngModel)]="showAddress">

                                 </div>
                              </div>

                              <div class="col-md-12">
                                 <div class="form-group">

                                    <select class="form-control" name="fromHere" formControlName="fromHere"
                                       [ngClass]="{ 'is-invalid': schoolSubmission && f.fromHere.errors }"
                                       [(ngModel)]="heareDFrom">
                                       <label for="">How did you hear about us?</label>
                                       <option selected [value]="undefined" disabled>How did you hear about us?</option>
                                       <option *ngFor="let x of hearedFrom" [value]="x._id">{{x.hearedFrom}}</option>


                                    </select>
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group ">
                                    <button id="School" (click)="school()" class="btn btn-primary btn-block login"
                                       id="">Next</button>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <!-- end school detail -->


                        <!-- start account detail -->

                        <div class="Register_box3">
                           <div class="row">
                              <div class="box_text1">
                                 <h4 class="text-dark">Account Details</h4>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label for="">Enter Password</label>
                                    <input type="password" class="form-control" placeholder="Password"
                                       formControlName="password"
                                       [ngClass]="{ 'is-invalid': schoolSubmission && f.password.errors }">
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label for="">Enter Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="Confirm Password"
                                       formControlName="confirmPassword"
                                       [ngClass]="{ 'is-invalid': schoolSubmission && f.password.errors }">
                                    <mat-error *ngIf="register.hasError('notSame')">
                                       your new passwords are not match
                                    </mat-error>
                                 </div>
                              </div>
                              <div class="col-md-12">
                                 <div class="form-group ">
                                    <button class="btn btn-primary btn-block login" type="submit">Register</button>
                                 </div>
                              </div>
                           </div>
                        </div>

                        <!-- end account detail -->


                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="logo text-right">
               <img src="../img/logo-light.png" class="img-fluid">
            </div>
            <div class="logo_img">
               <img src="../img/graphic2.svg" class="img-fluid" />
            </div>
         </div>
      </div>
   </div>
</div>